/* CSS Document */
/*--------------------------------------body---*/
body, input, label {
	color:#282828;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
}
input, select {
	color:#939393;
	margin-top:0px;
	font-size:12px;
	line-height:normal;
	padding:4px 5px 4px 5px;
}
textarea  { max-width:550px;}
a {
	color:#629e03;
	text-decoration:underline;
}
a:hover {text-decoration:none}

fieldset {padding:0; margin:0;}

fieldset td {padding:2px 0 2px 0;}

h3 { line-height:1.2em; color:#333;}
h2 { line-height:1.2em; color:#333;}
/*----------------------------------------------------------content---*/

/*-----------------------------article_settings-*/
h6 {
	font:bold 12px Arial, Helvetica, sans-serif;
}
.article-decor {
	padding:0px 0px 12px 0px;
}
.article_separator	{
	display:block;
	line-height:1px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:1px;
	font-size:1px;
}
.column_separator	{
	padding:0px 0px 0px 12px !important;
}
.article_column {
	padding:0px 0px 0px 0px;
}
.contentpane {
	padding:0px 0px 10px 0px;
}
.contentpane img {
	display:block; float:right;
}
.contentpaneopen h3 {
	overflow:hidden;
}
.contentpaneopen h3 img {
	margin:0px 3px 0px 0px !important;
	float:left;
}
.contentpaneopen ul,
.article-indent ul {
	list-style:none;
	margin:0px 0px 0px 15px;
}
.contentpaneopen ul li,
.article-indent ul li {
	padding:0px 0px 6px 10px;
	background:url(../images/listMarker.gif) no-repeat 0 8px;
}
.contentdescription img {
	margin:0px 20px 0px 0px;
}
.contentpaneopen img{
	margin:0px 15px 0px 0px;
}
/*---------------------------content-heading---*/
table.pollstableborder { background:#fff;}
#poll .contentpane {border:none; margin:5px; padding:5px 10px;}

.contentpaneopen { padding:0; margin:0px; border-collapse:collapse;}
	.contentheading  { 
			letter-spacing:0;
			background:none; 
			font:bold 18px/1.2em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			color:#313131;
			margin:0px 0 0 0; 
			padding:0px 0 0px 0;
			text-transform:uppercase; 
			position:relative;
			z-index:99; 
			}
			
			
.componentheading  { 
			letter-spacing:0;
			background:none; 
			font:bold 18px/1.2em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			color:#313131;
			margin:0px 0 0 0; 
			padding:0px 0 20px 0;
			text-transform:uppercase; 
			position:relative;
			z-index:99; 
			}

.contentpane .componentheading {
	background:none;
}
.contentpaneopen p {
	padding:0px 0px 10px 0px;
}
td.buttonheading	{
	padding:10px 10px 0px 0px !important;
	background:url(../images/title-bg1.gif) left top repeat-x;
}
.buttonheading img	{
	padding:0;
	margin:0 0px;
}
span.contentheading {
	font-weight:normal;
	display:block;
	padding:15px 0px 15px 0px;
	margin:0px 0px 15px 0px;
}

/*---------------------------about us---*/
.about { padding:14px 28px 0 0; margin-top:-1px;}
.about h2 { font:bold 12px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#466f03; padding:0; margin:0;}
.about p { margin:0; padding:19px 0 0 0; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif;}
.about p.p1-top { padding-top:23px;}
.about ul { list-style-type:none; margin:0 0 -12px 0; padding:20px 0 0 0;}
.about ul li { color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; background:url(../images/listMarker.gif) no-repeat 0 6px; padding:0 0 0 20px; margin-bottom:13px;} 
.about ul li strong { color:#466f03;  font-weight:bold; }

/*---------------------------delivery---*/
.delivery { padding:14px 28px 0 0; margin-top:-1px;}
.delivery h2 { font:bold 12px/21px Arial, Helvetica, sans-serif;color:#466f03; text-transform:uppercase; padding:0; margin:0;}
.delivery p { margin:0; padding:19px 0 0 0; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif;}
.delivery ul { list-style-type:none; margin:0 0 0px 0; padding:19px 0 8px 0;}
.delivery ul li { color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; background:url(../images/listMarker.gif) no-repeat 0 6px; padding:0 0 0 20px; margin-bottom:13px;} 
.delivery ul li strong { color:#466f03;  }


/*===== ACCORDION =====*/
.FAQS { padding:14px 0px 0 0; width:100%; margin-top:-1px;}
.FAQS h2 { font:bold 12px/21px Arial, Helvetica, sans-serif; color:#466f03; text-transform:uppercase; padding:0; margin:0 0 14px 0;}


	dl#accordion {
		border:1px solid #e5e5e5;
		border-bottom:none;
	 	list-style-type:none;
	 	padding-left:0px;
	    margin: 0;
	    width:718px;
	    overflow:hidden;
		position:relative;
	    }
	    dl#accordion dt {
	        margin:0;
			padding:0px;
			position:relative;
			display:block;
			border-bottom:1px solid #e5e5e5;
			 box-shadow: 0 0 30px #fafafa inset;
 			-moz-box-shadow: 0 0 30px #fafafa inset;
			-webkit-box-shadow: 0 0 30px #fafafa inset;
			position:relative;
			background:#fff;
			
	    }
		dl#accordion .bg {padding: 0 10px 0 38px; overflow:hidden;margin:0px 0 1px 0;}
		
		
	    dl#accordion dt span {
			background: url(../images/sub-plus.gif) 10px center no-repeat ;
			padding:0;
			color:#262525!important;
			font-size: 12px;
			font-weight: normal;
			font-family: 'Oswald', sans-serif;
			text-transform:none;
			line-height:43px;
			cursor:pointer;
			margin:0;
			display:block;
			height:1%;
	    }
	 
	 
	            dl#accordion dt.active span{
					z-index:1;
					background: url(../images/sub-minus.gif) 10px center no-repeat ;
					color:#466f03!important;
					
	            }
	        dl#accordion dd {
	            background:none; 
	            display:none;
	            margin:0;
				padding:0;
				overflow:hidden;
				border-bottom:1px solid #e5e5e5;
				
				
	        }
	            dl#accordion dd .indent {
	               background:#f7f7f7;
	                padding:15px 20px 5px 17px;
					min-height:55px;
					margin:0;
	            }
				
			
			dl#accordion dd .indent p {display:inline-block; margin:0px;  color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; 
			background:url(../images/accordionMarker.gif) left 6px no-repeat; padding-left:20px;}
				
/*-----------------------------item-info---*/

.iteminfo				{
	padding:0px 0px 6px 0px; 
	margin:0px 0px 15px 0px;
}
.modifydate				{
	border-top:1px dotted #2b2b2b;
	font-size:11px; 
	margin:10px 0 0 0;
	padding:10px 0px 10px 0px; 
	text-decoration:none !important; 
}
.createdby				{
	display:block;
	text-transform:none;
}
.createdate				{
	line-height:11px;
	font-size:11px;
	margin:0px 0px 5px 0px; 
	padding:0px 0px 10px 0px; 
	display:block;
	border-bottom:1px dotted #2b2b2b;
}
div.small				{ /* Written by */
	display:block;
	font-size:11px;
	font-weight:normal;
	margin:0px 0px 0px 0px; 
	padding:0px 0px 7px 0px;
	white-space:nowrap;
	line-height:11px;
}

/*-----------------------------------buttons---*/
#acymodifyform { overflow:hidden;}
#acymodifyform legend { margin-left:10px; border:1px solid #e5e5e5; width:150px; text-align:center; padding:2px 0 2px 0;}
#acymodifyform .button { width:120px;} 
.acymailing_footer { display:none;}

td.width .button { float:none;}
p#com-form-login-remember .inputbox { width:14px!important; height:14px!important; padding:0!important; vertical-align:middle;}
.calendar .button { float:none; display:table-cell;}
	.button, 
	.validate,
	div.blank a	{
			background:url(../images/button2.png) left top no-repeat;
			border:none;
			float:left;
			color:#fff;
			font:bold 14px/1.3em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			padding:0px 0px 1px 0px;
			margin:0px 11px 0px 0px;
			height:29px;
			width:90px;
			text-align:center;
			text-decoration:none;
			text-transform:uppercase;
			display:block;
			cursor:pointer;
			vertical-align:middle;
			 transition: background .25s ease-in-out;
		   -moz-transition: background .25s ease-in-out;
		   -webkit-transition: background .25s ease-in-out;
	}
	
	a.button { height:19px; padding-top:3px;}
	
	.button:hover,
	.validate:hover,
	.modal-button:hover,
	.readmore a:hover,
	div.blank a:hover {
		background:url(../images/button2.png) left bottom no-repeat;
		color:#FFF;
	}
	
	.ask_seller.nobutton { float:right; height:20px; padding-left:20px; margin-top:24px; margin-right:-11px; background:url(../images/virtuemart/no-button-bg.png) left top no-repeat;}
	.nobutton .button, .contentpane .nobutton .button {
		background:url(../images/virtuemart/nonebutton.gif) right center no-repeat;
		padding:0 7px 0 0px;
		color:#ee0000;
		border:none !important;
		font-size:12px;
		line-height:17px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:normal;
		float:none;
		width:auto;
		display:inline-block;
		text-decoration:underline;
		text-transform:none;
	}
	.nobutton .button:hover {
		text-decoration:none;
	}
	
	
	
	
	.modal-button,
	.readmore a,
	div.blank a {
		float:left;
		padding:2px 5px 2px 5px;
		height:auto;
	}
	.modal-button {
		margin-right:10px;
	}
	#editor-xtd-buttons {
		padding:5px 0px 5px 10px;
		overflow:hidden;
		width:300px;
		float:left;
	}
	#editor-xtd-buttons .readmore {
		display:inline;
	}
	.blank {
		margin:5px 0px 0px 0px;
	}
	div.blank a {
		width:114px;
		background:#000;
	}

/*-----------------------------------read-more---*/

	div.readmore	{
		overflow:hidden;
		margin:0px 0px 0px 0px; 
		padding:0px 0px 0px 0px;
	}
	div a.readon {
		background:none;
		border:none;
		color:#af784c;
		display:inline-block;
		font:bold 12px/14px Arial, Helvetica, sans-serif;
		padding:0 0px 0 0px;
		width:auto;
		text-align:center;
	}

/*-----------------------------blog-more---*/

	.blog_more		{
		padding:0px 0px 10px 0px;
	}
	.blog_more h2	{
		font-size:12px;  
		padding:0px 0px 0px 0px;
	}
	.blog_more ul {
		margin:10px 0px 0px 15px;
	}
	.blog_more ul li {
		padding:0px 0px 0px 0px !important;
	}
	.blog_more a	{
		text-decoration:underline
	}
	.blog_more a:hover	{
		text-decoration:none;
	}

/*-----------------------------pagenav---*/

	.pagenav	{
		font-size:12px; 
		font-weight:normal
	}
	a.pagenav	{
		font-weight:normal;
		padding:0px 2px 0px 2px;
		margin:0px 2px 0px 0px;
		text-decoration:none
	}
	a.pagenav:hover	{
		text-decoration:underline
	}
	.pagination_nav	{
		font-size:12px; 
		padding:10px 20px 0px 27px;
	}
	.pagination_nav div	{
		padding:5px 0px 5px 0px; 
	}
	.pagination	{
		margin-top:10px;
		margin-bottom:10px;
	}
	.pagination	li {
		padding:0;
	}	
	.pagination_result {
		padding:5px 0px 0px 0px;
		line-height:16px;
	}
	.pagination span {
		padding:0px 10px 0px 0px;
	}
	.pagination strong span {
		padding:0px 6px 0px 6px;
		font-weight:normal;
	}

/*--------------------------------------result---*/
	.searchArea {
		border:1px solid #ebebeb;
		padding:10px;
		padding-top:20px;
		background:#fff;
		margin-top:-1px;
	}
	.searchArea  td { vertical-align:middle;}
	#limit { width:50px;}
	#ordering { width:auto!important;}
	.sectiontableentry1 td, .sectiontableentry0 td, .sectiontableentry2 td 	{
		padding-bottom:5px;
		padding-top:5px;
	}
	#search_searchword {
		font:normal 12px/14px Arial, Helvetica, sans-serif;
		padding:3px 2px 4px 2px;
		vertical-align:top;
	}
	.var1 {
		background:#f1f1f1;
		padding:5px !important;
		margin:10px 0px 5px 0px;
	}
	.var2 {
		background:#f7f7f7;
		padding:5px !important;
		margin:10px 0px 5px 0px;
	}
	.results {
		padding:0px 20px 0px 20px;
	}
	
	.results ol li {
		padding:0px 0px 10px 0px;
		text-align:justify;
	}
	.searchintro {
		padding:10px 0px 10px 20px;
	}
	.searchintro b,
	.searchintro strong {
		color:#629e03;
	}
	.sectiontableheader {
		padding:10px 0px 10px 4px;
		background:none;
		color:#6f6e6e;
		font-weight:bold;
		border:none;
	}
	span.sectiontableheader {
		padding:2px 0px 2px 4px;}
	
	.sectiontableheader a {
		color:#000;
	}
	.sectiontableheader strong {
		color:#666;
	}

/*--------------------------------------archive---*/
	.archiveBlock .button {
		display:inline-block;
		margin:0px 0px 0px 5px;
	}
	ul#archive-list h4 a {
		font-size:12px;
		text-transform:none;
	}

/*--------------------------------------poll---*/
	dl.poll {
		padding:0px 0px 0px 0;
	}
	#poll h3 {
		font-size:120%;
		padding:0px 0px 10px 0px;
	}
	dl.poll dt {
		font-weight:bold;
		padding:7px 0px 0px 0px;
	}
	.poll .question {
		font:normal 13px/17px Arial, Helvetica, sans-serif;
		font-family: 'Oswald', sans-serif;
		padding:0px 10px 0px 0px;
	}
	.poll-body label {
		font:normal 11px/18px Arial, Helvetica, sans-serif;
		color:#787878;
	}
	.poll .buttons {
		padding:8px 0px 6px 0px;
		overflow:hidden;
	}
	.poll .button {
		border:none;
		padding:0px 0px 1px 0px;
		margin:0 6px 0 1px; 
		height:29px;
		width:90px;
		display:inline-block;
		vertical-align:top;
	}
	.poll .section {
		overflow:hidden;
		padding:6px 0px 0px 0px;
		width:100%;
		color:#000;
	}
	.poll .section2	{
		overflow:hidden;
		padding:6px 0px 0px 0px;
		width:100%;
	}
	.poll .radio {
		float:left;
		width:20px;
	}
	.poll .radio input {
		display:block;
		width:16px;
		height:16px;
		padding:0;
		margin:0;
		vertical-align:middle;
	}
	.poll .var {
		margin:0px 0px 0px 20px;
		text-align:left;
	}
	.display {
		padding:0px 0px 10px 0px;
	}
	.display select	{
		border:1px solid #46462f;
		width:100px;
	}
	.td_1,
	.td_2 {
		width:5%;
		text-align:center;
	}
	.td_3 {
		width:90%;
		padding:0px 0px 0px 10px;
	}
	#itema,
	#itemb,
	#itemc {
		background:#a3a3a3;
		padding-bottom:5px;
		padding-top:5px;
		font-weight:bold;
		padding-left:4px;
		color:#fff;
	}
	.pollstableborder .question {
		padding:5px 0px 0px 85px;
	}

/*--------------------------------------userforms---*/
	dl.contentpane dt {
		padding:10px 0px 20px 0px;
	}
	dl.contentpane dd {
		width:100%;
		overflow:hidden;
	}
	dl.contentpane div {
		vertical-align:middle;
	}
	dl.contentpane .description {
		width:110px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}
	dl.contentpane .input-field {
		width:160px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}
	dl.contentpane .button-field {
		width:140px;
		padding:0px 0px 0px 0px;
		vertical-align:middle;
	}

/* ------------------------------------- search --- */
	.search {
		overflow:hidden;
		background:none;
		margin:0px 0 0 0px;
		position:relative;
	}
	#search h3 {font:bold 18px/20px Arial, Helvetica, sans-serif;font-family: 'Open Sans', sans-serif; text-transform:uppercase; color:#fff; letter-spacing:0px; padding-right:8px; float:left; padding-top:0px;}
	
	.search .button {
		text-indent:-9999px;
		background: url(../images/search-button.png) left top no-repeat;
		font:bold 12px/22px Arial, Helvetica, sans-serif;
		font-family: 'Open Sans', sans-serif;
		font-weight:600;
		border:none !important;
		text-transform:uppercase;
		letter-spacing:0px;
		color:#fff;
		width:13px;
		height:12px;
		position:absolute;
		right:6px;
		top:5px;
		float:none;
		padding:0 0 2px 0;
		vertical-align:middle;
		margin:0px 0px 0 0px;
	}
	.search .button:hover {background: url(../images/search-button.png) left bottom no-repeat; color:#fff;}
	
	.search .inputbox {
		background:url(../images/search-unput.png) left top no-repeat;
		text-transform:none;
		border:none;
		color:#3e3e3e;
		font:normal 11px/16px Arial, Helvetica, sans-serif!important;
		padding:0px 25px 0px 10px;
		margin:0px 0px 0px 0px;
		vertical-align:top;
		display:inline-block;
		width:160px;
		height:24px;
		float:left;
	}

	/* ------------------------------------- search-result --- */
		.search_result {
			padding:0px 20px 0px 0px;
		}
		.search_result h3 {
			color:#808080;
			font-size:14px;
		}
		.highlight	{  /* highlight sought word */
			color:#629e03;
			font-weight:bold;
		}

/* ------------------------------------- admin-form --- */
	.adminform td {
		padding:0px 0px 2px 0px;
	}
/* ------------------------------------- system-error-messages --- */
	.error {
		margin:0px 0px 10px 0px;
	}
		#system-message dt.error,
		dt.message {
			display: none;
		}
		.error dd ul {
			background:#573628;
			border-top:3px solid #670606;
			border-bottom:3px solid #670606;
			color:#fff;
			margin:0;
			padding:5px 0px 5px 5px;
		}
		.error dd ul li	{
			background:none !important;
			color:#fff !important; 
			margin:0px 0px 0px 20px !important;
		}

/* --------------------------------------------------------------------------------- boxes --- */
	.module,
	.module_text,
	.module_menu {
		margin:0;
		margin-bottom:20px;
		padding:0;
		width:100%;
		background:none;
		border:none;
		border-bottom:none;
	}
	.module .boxIndent,
	.module_text .boxIndent,
	.module_menu .boxIndent {
		background:none;
		padding:10px 5px 15px 18px;
	
		 position:relative;
	}
	.container .module .boxIndent {
		padding:0;
		background:none;
	}
	
		/* ------------------- title --- */
		
		.module h3, .module_text h3, .module_menu h3 {
			letter-spacing:0;
			background:none; 
			font:bold 18px/1.2em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			color:#313131;
			margin:0px 0 0 0; 
			padding:0px 0 0px 15px;
			text-transform:uppercase; 
			position:relative;
			z-index:99; 
			}
		
		#vmMainPage h3  { 
			letter-spacing:0;
			background:none; 
			font:bold 18px/1.2em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			color:#313131;
			margin:0px 0 0 0; 
			padding:0px 0 20px 0;
			text-transform:uppercase; 
			position:relative;
			z-index:99; 
		}
		
		.title  { 
			letter-spacing:0;
			background:none; 
			font:bold 18px/1.2em Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			color:#313131;
			margin:0px 0 0 0; 
			padding:0px 0 0px 0;
			text-transform:uppercase; 
			position:relative;
			z-index:99; 
		}

.related h3 {
			 margin:0 0 0px 0px!important;
			  padding:0 0 0px 0px!important;
			  border:none!important;
			} 	
	
		h5.title {
			background:none;
			font:bold 12px/21px Arial, Helvetica, sans-serif;
			letter-spacing:0px;
			text-transform:uppercase;
			color:#080808;
			border:none;
			padding:0px 0 0px 0px;
			margin:0px 0px 0px 0px;
			
			}	
			
		.categoryName img {
			vertical-align:middle;
			display:none;
		}
		th.title { background:none; color:#808080;}
		
		.extra-divider td {
			border:none;
			padding:13px 0;
		}
		
		/*-------------------content----*/
		.module ul {
			list-style:none;
			margin:0px 0px 0px 0px;
		}
		.module ul li {
			font:normal 12px/19px Arial, Helvetica, sans-serif;
			margin:0 0 0 0;
			padding:0px 0px 0px 0px;
			vertical-align:top;
		}
		.module li a {
			background:none;
			padding:0px 0px 0px 0px;
			margin:0px 0px 0px 0px;
		}
		.module li a:hover {
			color:#000;
			text-decoration:underline;
		}
		.module a {
			color:#939698;
			text-decoration:underline;
		}
		.module a:hover {
			text-decoration:none !important;
		}
		.count	{ /* count users */
			text-decoration:underline;
		}
		
/* ---------------------- categories --- */
.moduletable-categories { border:none; background:url(../images/cat-bg.gif) left top repeat-x #426903; height:33px; width:950px; z-index:100; position:relative; border-radius:4px;}
	
.rightarrowclass { display:none !important;}
.ddsmoothmenu { background:none !important; padding:0px 0 0 0px;}

.downarrowclass  { display:none!important; width:7px; height:4px; position:absolute; left:14px; top:16px;}

.moduletable-categories ul.level1 { list-style:none; margin:0; padding:0 0 0 0px;}
.moduletable-categories ul.level1 li { z-index:98; font:bold 14px/16px Arial, Helvetica, sans-serif; float:left;letter-spacing:0px;  border:none;text-transform:none; padding:0; background:url(../images/cat-divider.gif) right top no-repeat; padding:0; }
.moduletable-categories ul.level1 li:first-child a { border-radius:4px 0 0 4px; margin-left:0;}
.moduletable-categories ul.level1 li a  { text-decoration:none; margin-right:1px; padding:8px 10px 9px 10px; color:#fff; display:inline-block; background:url(../images/cat-active.png) left top repeat-x; 
 transition: background .25s ease-in-out;
		   -moz-transition: background .25s ease-in-out;
		   -webkit-transition: background .25s ease-in-out;
}
.moduletable-categories ul.level1 li a.parent { padding-right:10px !important; margin-bottom:0px!important; }
.moduletable-categories ul.level1 li a:hover , .moduletable-categories ul.level1 li a.active , .moduletable-categories ul.level1 li a.selected  {background:url(../images/cat-active.png) left bottom repeat-x; color:#fff;}
.menu_img_span { display:none; position:absolute; }
.menu_img_span img.menu_img  { width:170px; height:170px; background:#fff;}


.moduletable-categories ul.level2 .column { width:250px; /*min-height:445px;*/ overflow:hidden; float:left; border-right:1px solid #414141; margin:0; padding:0;}
.moduletable-categories ul.level2 .column li.item1 {border-bottom:1px solid #414141;}
.moduletable-categories ul.level2 .column li.item3 {border-bottom:1px solid #414141;}
.moduletable-categories ul.level2 .column li.item5 {border-bottom:1px solid #414141;}


.moduletable-categories ul.level2 li a.parent { padding-right:0 !important; margin-bottom:15px!important;}

.moduletable-categories ul.level2 {background:#2b2b2b;  border:none!important; width:950px; height:auto; padding:1px 0 1px 0px; list-style-type:none; margin:0!important; position:absolute !important; top:38px !important; left:0px !important; visibility:hidden; margin:0; border-radius:4px; }

.moduletable-categories ul.level2 li {background:none; line-height:22px; border:none; border-top:none;   font-weight:normal; padding:22px 20px 21px 30px; width:200px;  margin:0; float:left!important; border-right:none; text-align:left;}

.moduletable-categories ul.level2 li a { text-decoration:none; font:bold 15px/19px Arial, Helvetica, sans-serif; font-family: 'Open Sans', sans-serif; color:#fff; display:inline-block; margin:0; background:none !important; text-transform:uppercase;  letter-spacing:-1px; border:none; text-align:left; padding:0 0 0 0;}
.moduletable-categories ul.level2 li a:hover, .moduletable-categories ul.level2 li a.active , .moduletable-categories ul.level2 li a.selected { text-decoration:none; color:#ffc500; background:none !important;}

.moduletable-categories ul.level3 { background:none;   border:none!important; height:auto; padding:0; list-style-type:none; margin:0!important; position:none !important;}
.moduletable-categories ul.level3 li { float:none!important; border:none!important; width:auto!important; padding:0; line-height:19px;}
.moduletable-categories ul.level3 li:first-child { border-top:none!important;}
.moduletable-categories ul.level3 li a {color:#a3a3a3; font:normal 10px/19px Arial, Helvetica, sans-serif; font-family: 'Open Sans', sans-serif; text-transform:uppercase; letter-spacing:0; padding:0 0 0 0; margin-bottom:0;}
.moduletable-categories ul.level3 li a:hover, .moduletable-categories ul.level3 li a.active , .moduletable-categories ul.level3 li a.selected { color:#ffc500;  text-decoration:none;}

.moduletable-categories ul.level2 li a:hover .menu_img_span { display:block; right:13px; top:50%; margin-top:-85px;}
.moduletable-categories ul.level3 li a:hover .menu_img_span { display:block; right:13px; top:50%; margin-top:-85px;}

.moduletable-categories ul.level4 { background:#323232 url(../images/cat-ul-bg.gif) left top no-repeat;   border:none!important; width:180px; height:auto; padding:20px 10px 20px 0; list-style-type:none; margin:0!important; position:absolute !important; top:-20px !important; left:190px !important; }


/* ######### CSS classes applied to down and right arrow images  ######### */


.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
display:none !important;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
}

	/* ----------------- content ---- */
		.module_menu ul {
			list-style:none;
			margin:0px 0px 0px 0px;
		}
		.module_menu li {
			background:none;
			font:normal 12px/17px Arial, Helvetica, sans-serif;
			margin:0 0 0 0;
			padding:2px 0 4px 10px;
			list-style:none;
			width:100%;
			vertical-align:top;
		}
		.module_menu li a {
			background:url(../images/list-marker.gif) no-repeat 0 5px;
			color:#F00;
			margin:0;
			padding:0 0 0 10px;
			text-decoration:none;
		}
		
		/* ------------------- hover, active --- */
			.module_menu li a:hover,
			.module_menu li.active a:hover,
			.module_menu li.active li a:hover	{
				text-decoration:underline;
			}
			.module_menu li.active ul {
				margin:1px 0px -1px 10px;
			}

/*------------------------userMenu---*/
	#userMenu {
		padding:1px 22px 0 0;
		text-align:right;
	}
		#userMenu ul {
			margin:0;
		}
		#userMenu ul li {
			display:inline;
			padding:0 0 0 19px;
			margin:0 0 0 0;
			font:normal 12px/14px Arial, Helvetica, sans-serif;
		}
			#userMenu ul li a {
				text-decoration:none;
				color:#9c9c9a;
			}
			#userMenu ul li a:hover {
				text-decoration:underline;
				color:#fff;
			}


/*----------------------------------------login-form---*/

.moduletable_LoginForm  { margin:0; padding:0 0 0 0px; background:url(../images/login-bg.png) left top no-repeat; border-left:none; overflow:hidden; text-align:center; width:74px; height:33px; position:absolute; right:0px; bottom:-43px; z-index:99;}
.moduletable_LoginForm p {color:#7f7f7f; font-size:11px; font-family:Verdana, Geneva, sans-serif; text-transform:none; line-height:14px; padding-top:8px; }
.moduletable_LoginForm a.login , .moduletable_LoginForm a.create { display:inline-block; width:auto; height:16px; background:url(../images/login-marker.gif) right center no-repeat; color:#fff; text-decoration:none; font-weight:bold; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:16px; text-transform:none; padding-right:13px;}
.moduletable_LoginForm a.login:hover , .moduletable_LoginForm a.create:hover { text-decoration: none; color:#5b9204;}
#com-form-login .input { border:none; padding:0!important; }
#sbox-content .componentheading { margin:0; margin-left:20px; margin-top:10px; border:none;}
#com-form-login .button { float:none; margin:10px 0 10px 0;}

#com-form-login { border:1px solid #dedede; border-left:none; border-right:none; padding:20px; margin:0 10px 0 10px;}

#com-form-login-remember  {
	padding:4px 0 0px 0px;
	margin:0;
	display:inline-block;
	overflow:hidden;
}
#com-form-login-remember label  {
	color:#8d8b87;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	text-transform:none;
	display:inline-block;
	text-decoration:none;
	cursor:pointer;
	margin-left:0px;
}
#com-form-login-remember label:hover { 	text-decoration:underline;}
	
		#com-form-login-remember input.inputbox { /* checkbox */
			border:none;
			display:inline-block;
			margin:0px 3px 0px 0px;
			vertical-align:middle;
			width:14px;
			height:14px;
			padding:0;
		}



.moduletable_LoginForm  h3 { 
			background:none;
			font:normal 13px/18px Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			height:18px;
			color:#191919;
			text-align:left;
			display:block;
			text-transform:uppercase;
			text-decoration:none;
			letter-spacing:0px;
			padding:5px 0px 0px 1px;
			margin:0;
			float:none;}
.moduletable_LoginForm  .boxIndent { padding:0; border:none; background:none;  overflow:hidden;}

#form-login { overflow:hidden; padding-top:6px; padding-bottom:2px; text-align:center;}
#form-login div { display:none; float:left; font-size:11px; line-height:14px; height:14px; font-family: Arial, Helvetica, sans-serif; padding:0; color:#000; text-transform:none; margin-right:10px;}
		#form-login .button {
			display:inline-block; width:auto; height:18px; background:url(../images/login-marker.gif) right 6px no-repeat; color:#fff; text-decoration:none; font-weight:bold; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:18px; text-transform:none; padding-right:10px; margin:0 0 0 4px;
		}
		#form-login .button:hover {
			background-position: right 6px!important;
			text-decoration: none; color:#5b9204;
		}
/* ------------------------------------- topmenu --- */
	.moduletable-nav ul.menu {
		list-style:none;
		background:none;
		float:none;
		overflow:hidden;
		padding:0px 0px 0 0px;
		margin:0 0px 0px 0px;
	}
		.moduletable-nav ul.menu li {
			font:bold 11px/23px Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			background:url(../images/nav-marker.gif) left 0 no-repeat;
			letter-spacing:0px;
			text-transform:uppercase;
			float:left;
			margin:0 0px 0 0px;
			padding:12px 10px 3px 11px;
		}
			.moduletable-nav ul.menu li a {
				color:#646464;
				display:inline-block;
				text-decoration:none;
				text-align:center;
				padding:0px 0 0px 0;
				cursor:pointer;
			}
			/* ------------------- hover, active --- */
			.moduletable-nav ul.menu li a:hover ,.moduletable-nav ul.menu li.active a 
			 {
			 background:none;
			 color:#6aaa03;
			 text-decoration:none;
			}
/* --------------------------------------------------------- structure --- */
.block {height:196px;}
.extra {
 margin: 0 auto -196px;
 position:relative;
 z-index:0;
 height:100%;
}
html { min-height:100%;}
	#body {
		min-width:1000px;
		background:#fff url(../images/body-bg.gif) left top repeat-x;
		text-align:left;
		height:auto;
		padding:26px 0 23px 0;
	}
	#all { width:100%; height:100%!important; background:none;}
	#back-top { position: fixed; bottom:14px; z-index:1; display:none;}
	#back-top a {  display:block;width:51px; height:52px; background:url(../images/back.gif) left top no-repeat;}
	.main {
		width:950px;
		border:none;
		position:relative;
		background:none;
		height:100%;
		z-index:2;
	}
	
/*.box-main { margin:0 auto; width:990px; background:#fff;}
		.box-main .tail-bot { background:url(../images/bottom-tail.gif) left bottom repeat-x;}
			.box-main .tail-top { background:url(../images/top-tail.gif) left top repeat-x;}
				.box-main .tail-right { background:url(../images/right-tail.gif) right top repeat-y;}
					.box-main .tail-left { background:url(../images/left-tail.gif) left top repeat-y;}
						.box-main .corner-top-right { background:url(../images/corner-top-right.gif) right top no-repeat;}
							.box-main .corner-top-left { background:url(../images/corner-top-left.gif) left top no-repeat;}
								.box-main .corner-bot-right { background: url(../images/corner-bottom-right.gif) right bottom no-repeat;}
									.box-main .corner-bot-left { background: url(../images/corner-bottom-left.gif) left bottom no-repeat; width:100%;}
*/
/* --------------------------------------------------------- header --- */
	#header {
		 background:url(../images/header-bg.jpg) left top repeat-x #eee;
		 border-bottom:1px solid #d1d1d1;
		 height:120px;
		 border-radius:6px;
		 position:relative;
		 z-index:999;
		 margin:0 0px 9px 0px;
		 padding:0px 0 0 0;
	}
	
	.row { border:none; height:58px; width:422px; position:absolute; right:22px; top:52px; background:none9;}
			#topmenu {
				border:none;
				height:25px;
				width:auto;
				margin:0 0 0px 0;
				padding:0px 0 0 0px;
				position:absolute;
				right:211px;
				top:82px;
			}
			
			#search {
				position:absolute;
				top:82px;
				right:0px;
				background: url(../images/nav-marker.gif) left top no-repeat;
				width:195px;
				height:30px;
				padding:8px 7px 0 9px;
				margin:0;
				z-index:1;
			}
			.currency {
			background:none;	
			width:225px;
			height:20px;
			margin:0;
			padding:0px;
			position:absolute;
			right:271px;
			top:18px;
			z-index:100;
			
		}
		#logo {
			position:absolute;
			left:46px;
			top:40px;
			font-size:0px;
			width:302px;
			height:44px;
			padding:0;
			margin:0;
			z-index:5;
			
		}
		
		#cart {
			width:243px;
			height:21px;
			border-left:1px solid #cacaca;
			background:none;
			padding:1px 0 0 12px;
			margin:0 0 0 0;
			overflow:hidden;
			text-align:left;
			text-transform:none;
			color:#2c2b2b;
			font:normal 11px/18px Verdana, Geneva, sans-serif;
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			position:absolute;
			top:17px;
			right:0px;
		}
		.cart hr { display:none;}
		
		.moduletable_support { width:288px; height:24px;position:absolute; top:51px; right:0; padding:0; color:#2c2b2b; font:normal 21px/23px Arial, Helvetica, sans-serif;font-family: 'Open Sans', sans-serif;
			font-weight:600; text-transform:none; text-align:left; }
			.moduletable_support span {color:#7b7b7b; font-size:11px; padding-right:4px;}
		
		
		.moduletable_banners { overflow:hidden; width:950px; background:none; margin-top:-11px; }
		.moduletable_banners .clr , .module_banners1 .clr  { display:none;}
/* ------------------------------------- content --- */
	#content {
		padding:19px 0px 21px 0px;
		margin:0px 0 0 0 ;
		background:#fff;
		border:none;
		position:relative;
		overflow:hidden;
		z-index:5;
	}
		#left {
			float:left;
			width:231px;
			margin:0 11px 0 0px;
			padding:0 0 0px 0;
		}
		.container {
			overflow:hidden;
			position:relative;
			border-bottom:none;
			background:none;
		}
		#right {
			float:right;
			width:220px;
			margin:0 0px 0 10px;
			padding-top:0px;
		}
/* ------------------------------------- footer --- */
	#footer { 
	background:url(../images/footer-bg.gif) left top repeat-x;
	border-top:1px solid #dbdbdb;
	min-height:80px;
	margin:0px;
	position:relative;
	padding:0 0px 0 0px;
	overflow:hidden;
	border-radius:4px 4px 0 0;
	}
	#footer #logo {
			position:absolute;
			right:73px;
			top:40px;
			left:auto;
			font-size:0px;
			width:147px;
			height:20px;
			padding:0;
			margin:0;
			z-index:5;
			
		}
	#footer .space {
		padding:0px 0px 0px 2px;
		font:normal 11px/14px Verdana, Geneva, sans-serif;
		font-family: 'Open Sans', sans-serif;
		font-weight:600;
		color:#7c7c7c;
		background:none;
		border-top:none;
		text-transform:none;
		overflow:hidden;
	}
	#footer a {
		color:#7c7c7c;
		text-decoration:none;
	}
	#footer a:hover { text-decoration:underline;}
	.footerText .pad-top { padding-top:2px; padding-left:18px; height:24px; background:none;}
/*	#footer .footerText div.social { float:none; position:absolute; right:30px; top:40px; overflow:hidden;}
	#footer .footerText div.social a { text-decoration:none; float:left; display:block; overflow:hidden; position:relative; height:32px; width:31px; margin-left:8px;}
	#footer .footerText div.social a span { display:block; overflow:hidden;  height:32px; overflow:hidden; width:31px; float:left; position:relative; cursor:pointer;}
	#footer .footerText div.social a img { background:none; margin-top:-32px;}
*/	
	#footer ul { 
		background:none;
		border:none;
		border-radius:4px;
		padding:15px 0 3px 19px;
		margin:0px 0 0px 0;
		list-style:none;
		 position:relative;
		 overflow:hidden;
		 width:988px;
		 float:none;
	}
		#footer ul li {
			background:none;
			font:bold 11px/23px Arial, Helvetica, sans-serif;
			font-family: 'Open Sans', sans-serif;
			font-weight:600;
			background:none;
			display:block;
			padding:0 15px 0 0;
			text-transform:uppercase;
			letter-spacing:none;
			margin:0 0 0 0;
			float:left;
		}
		#footer ul li:first-child { background:none; padding-left:0;}
			#footer ul li a {
				background:none;
				display:inline-block;
				color:#5e5e5e;
				padding:0;
				text-decoration:none;
			}
			#footer ul li a:hover,
			#footer ul li.active a {
				color:#629e03;
				text-decoration:none;
				
			}
/* ------------------------------------- Tooltips --- */
	.tool-tip {
		background:#ffc;
		border:1px solid #b4b58A;
		color:#000;
		max-width:200px;
		text-align:left;
		z-index:99!important;
	}
	.tool-title {
		background:#dda;
		border-bottom:1px solid #b4b58A;
		padding:5px 10px;
		font-weight:bold;
	}
	.tool-text {
		padding:5px 10px;
	}

/* ------------------------------------- VM --- */
	.wrapper {
		overflow:hidden;
		width:100%;
		
	}
	.wrapper2 {
		width:100%;
	}
	.clear {
		clear:both;
	}
	.float-left {
		float:left;
	}
	.float-right {
		float:right;
	}
	.contact_email #contact_email_copy {
		margin:0;
		float:left;
		width:15px;
	}

/* ------------------------------------- boxes --- */
	.module .banners { background:none;}
	.module .box,
	.module_menu .box,
	.module_text .box {background:#fff;}
	
	.module .box .tail-bottom,
	.module_menu .box .tail-bottom,
	.module_text .box .tail-bottom {background:url(../images/box-corner-tail-bottom.gif) bottom repeat-x;}
	
	.module .box .tail-top,
	.module_menu .box .tail-top,
	.module_text .box .tail-top {background:url(../images/box-corner-tail-top.gif) top repeat-x;}
	
	.module .box .tail-right,
	.module_menu .box .tail-right,
	.module_text .box .tail-right {background:url(../images/box-corner-tail-right.gif) right repeat-y;}
	
	.module .box .tail-left,
	.module_menu .box .tail-left,
	.module_text .box .tail-left {background:url(../images/box-corner-tail-left.gif) left repeat-y;}
	
	.module .box .corner-right-bottom,
	.module_menu .box .corner-right-bottom,
	.module_text .box .corner-right-bottom {background:url(../images/box-corner-right-bottom.gif) right bottom no-repeat;}
	
	.module .box .corner-left-bottom,
	.module_menu .box .corner-left-bottom,
	.module_text .box .corner-left-bottom {background:url(../images/box-corner-left-bottom.gif) left bottom no-repeat;}
	
	.module .box .corner-right-top,
	.module_menu .box .corner-right-top,
	.module_text .box .corner-right-top {background:url(../images/box-corner-right-top.gif) right top no-repeat;}
	
	.module .box .corner-left-top,
	.module_menu .box .corner-left-top,
	.module_text .box .corner-left-top {background:url(../images/box-corner-left-top.gif) left top no-repeat; width:100%;}


/* ------------------------------------- END boxes --- */
.paramlist_key {width:35% !important; padding-right:5px !important;}
.josForm #email {width: 147px; padding:5px 0 5px 5px;}
.validate {margin-bottom:0px;}
#josForm  { padding-bottom:20px;}
.content-indent {padding:0; margin:0px; padding-bottom:10px; background:none; border:none; overflow:hidden;}
.cbButtons { margin-left:25%;}

.productTop { width:30%;} 

.list li { color:#7e7c7c;}
.list h4 { padding-bottom:5px;font-family: 'Oswald', sans-serif; font-weight:normal; }
.list h4 a { color:#716d6d; text-transform:uppercase; font-size:16px; line-height:1.2em;}
.results h3 { text-transform:uppercase; font-family: 'Oswald', sans-serif; color:#626161; border:none; padding:10px 0 10px 10px; margin-bottom:5px; font-weight:normal; }


.relative {position:relative;}
.height {  font-size:0px; line-height:0px;}
#comment { padding-right:17px; width:auto; height:auto; margin-top:5px;}
.Form-indent { margin:10px 0 0 0;}


#searchForm .button { margin-top:0px;}


.article-text-indent { padding-right:0px; }
.article-text-indent h2  { color:#333; font:normal 12px/21px Arial, Helvetica, sans-serif;font-family: 'Oswald', sans-serif; text-transform:none; margin:0; padding:14px 0 0 0;}
.article-text-indent p { padding-top:19px; color:#9a9999; font:normal 12px/18px Arial, Helvetica, sans-serif; padding-right:10px; }

#component-contact { padding-top:20px; position:relative;}
.contact-width { 
		width:228px !important;
		background:#fff;
		border:1px solid #e5e5e5;
		box-shadow: 0 0 25px #fbfbfb inset;
		 -moz-box-shadow: 0 0 25px #fbfbfb inset;
		 -webkit-box-shadow: 0 0 25px #fbfbfb inset;  
		position:relative;
		border-collapse:separate !important; 
		font-size:12px; color:#7f7f7f;}


#map_canvas {
	width:500px !important;
	height:319px !important;
	*height:322px !important;
	position:absolute;
	right:-20px;
	top:20px;
	overflow:hidden;
	margin-left:0px;
}

.department dl { color:#7f7f7f; font:normal 12px/21px Arial, Helvetica, sans-serif; display:inline-block;}
.department dl a{ color:#13c6d4;}
.department h3 {  color:#3333; font:bold 14px/21px Arial, Helvetica, sans-serif; text-transform:uppercase; margin:0; padding:0px 0 18px 0;}
.department .col-1 { float:left; width:190px;}
.department .col-pad { padding-right:49px;}

#emailForm { margin:0px 0px 10px 0; padding-top:4px;}
#emailForm label strong { color:#7f7f7f; font:bold 12px/21px Arial, Helvetica, sans-serif; padding-left:1px; display:inline-block; padding-bottom:5px;}
.contact_email input {
		margin-bottom:5px;
	}
.inputbox { padding:1px 2px 1px 2px; height:21px; border:1px solid #e5e5e5; width:224px; line-height:20px!important; outline:none;}
#agreed_field.inputbox { padding:0!important; width:13px!important; height:13px!important; border:none!important;} 
.sectiontableentry1 .inputbox { width:82px; height:20px; color:#000;}
#emailForm #contact_text {
	color:#949494;
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	height:131px; 
	overflow:auto;
	margin:0px 0px 10px 0px;
	padding:2px 4px;
	max-width:468px;
	width:468px;
	*height:135px;
}
#emailForm .contact_area { padding-bottom:19px;}
#emailForm .pad-top { padding-top:30px;}
#emailForm .col-3 { float:left; width:480px;}
#emailForm .col-2 { float:left; width:240px;}

.line-height { display:block; line-height:14px; *line-height:1.7em; font-size:12px; float:left; padding-left:8px;}